<h1>My Influencers</h1>

<li><a href="{% url 'account' user %}"> Life Style </a></li>
<li><a href="{% url 'myway' user %}"> Way </a></li>
{% if owner %}

<li><a href="{% url 'consultations' user %}"> Consultations </a></li>
    <h2>My Influencers</h2>
{% for influencer in influencers %}
<li><a href="{% url 'account' influencer %}">{{ influencer}} </a></li>
<li><a href="{% url 'notes' user %}"> Notes </a></li>
{% endfor %}

<form action = "" method = "post">
{% csrf_token %}
<input type = "text" name = "usersearch" placeholder = "Search user.."><br>
    <input type = "Submit">
</form>
{% if searched_user %}
    <img src="{{searched_user.userprofile.profile_pic.url}}" width="30">
    <li><a href="{% url 'account' searched_user %}"> {{searched_user}} </a></li>
{% endif %}
{% endif %}
